html {
    height: 100%;
}

@font-face {
    font-family: "dincyr regular";
    src: url('../fonts/dincyr-regular.woff') format('woff');
}

@font-face {
    font-family: "DIN Light Alternate";
    src: url('../fonts/DIN LightAlternate Regular.otf') format('opentype');
}

a {
    cursor: pointer;
}

article,
footer,
header,
nav,
{
    display: block;
}

body {
    font-size: 11px;
    font-family: "Verdana";
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-body.jpg);
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    min-height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 150px;
    position: relative;
}

.logo img {
    float: left;
    padding-top: 45px;
    position: absolute;
}

.phone {
    position: absolute;
    top: 45px;
    right: 0;
    display: block;
}

a.phone {
    text-decoration: none;
    color: #707070;
    font-family: "DIN Light Alternate", sans-serif;
}

span.phone-number1 {
    font-size: 18px;
}

span.phone-number2 {
    font-size: 30px;
    display: block;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    border-bottom: 2px solid;
    border-bottom-color: #acacac;
    padding-bottom: 58px;
}

.content {
    padding: 0 0 0 320px;
}

h2 {
    color: #646464;
    font-size: 18px;
    font-family: "dincyr regular";
    margin: 0;
}

p {
    color: #646464;
    font-size: 11px;
    line-height: auto;
    font-family: "Verdana",
}

.mainlist {
    display: block;
    width: auto;
    margin-top: 47px;
}

.list-item {
    display: inline-block;
    min-height: 100%;
    width: 225px;
    vertical-align: top;
}

.name {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: #646464;
    font-size: 11px;
    line-height: auto;
    font-family: "Verdana",
}

.img {
    width: 78px;
    height: 78px;
    text-align: center;
    overflow: hidden;
    background: #000;
    display: inline-block;
    margin-bottom: 7px;
}

.img img {
    width: auto;
    height: 100%;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
    float: left;
    width: 300px;
    height: 100%;
    margin-left: -100%;
    position: relative;
}

li.sidebar-item {
    width: 200px;
}

.sidebar-item a:hover {
    background-color: #707070;
    color: #fff;
}

.left-sidebar li a {
    font-family: "DIN Light Alternate", sans-serif;
    font-size: 40px;
    color: #646464;
    line-height: 1;
    text-decoration: none;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1024px;
    margin: -100px auto 0;
    height: 100px;
    position: relative;
    padding-top: 36px;
}

.adress a
{
    color: #707070;
    text-decoration: none;  
}
.adress
.job {
    display: inline-block;
    position: relative;
}

.job a {
    color: #707070;
}