html {
    height: 100%;
}

@font-face {
    font-family: "dincyr regular";
    src: url('../fonts/dincyr-regular.woff') format('woff');
}

@font-face {
    font-family: "DIN Light Alternate";
    src: url('../fonts/DIN LightAlternate Regular.otf') format('opentype');
}

article,
footer,
header,
nav,
{
    display: block;
}

body {
    font-size: 11px;
    font-family: "Verdana", "Arial", sans-serif;
    width: 100%;
    min-height: 100%;
    background-image: url(../images/bg-body.jpg);
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.article p {
    margin: 0 0 1em;
    color: #646464;
    font-size: 11px;
    line-height: auto;
    font-family: "Verdana", "Arial", sans-serif;
}

h1,
h2 {
    margin: 0 0 18px;
    color: #646464;
    font-size: 18px;
    font-family: "dincyr regular", "Verdana", "Arial", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #707070;
}

ul {
    padding: 0;
    margin: 0;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 200px;
    position: relative;
}

.header .logo img {
    float: left;
    padding-top: 45px;
    position: absolute;
}

.header .phone {
    position: absolute;
    top: 45px;
    right: 0;
    display: block;
    text-decoration: none;
    color: #707070;
    font-family: "DIN Light Alternate", sans-serif;
}

.header .phone-number1 {
    font-size: 18px;
}

.header .phone-number2 {
    font-size: 30px;
    display: block;
}


/* Middle
-----------------------------------------------------------------------------*/

.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    padding-bottom: 58px;
}

.content {
    padding: 0 0 0 270px;
}

.teams {
    display: block;
    width: auto;
    padding-top: 47px;
    font-size: 0px;
}

.teams .team-members {
    display: inline-block;
    height: 100%;
    width: 210px;
    vertical-align: top;
    margin-right: 50px;
    font-size: 11px;
}

.teams .team-members:last-child {
    margin-right: 0;
}

.teams .team-members .name {
    display: block;
    padding-left: 90px;
    position: relative;
    margin-bottom: 18px;
    color: #646464;
    min-height: 78px;
    line-height: auto;
    font-family: "Verdana";
    font-size: 11px;
}

.teams .image {
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    text-align: center;
    overflow: hidden;
    background: #000;
}

.teams .image img {
    width: auto;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
    float: left;
    width: 270px;
    height: 100%;
    margin-left: -100%;
    position: relative;
}

.left-sidebar .list-item {
    width: 200px;
}

.left-sidebar .list-item a:hover {
    background-color: #707070;
    color: #fff;
}

.left-sidebar li a {
    font-family: "DIN Light Alternate", sans-serif;
    font-size: 40px;
    color: #646464;
    text-decoration: none;
    text-transform: uppercase;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1024px;
    margin: -100px auto 0;
    height: 59px;
    position: relative;
    padding-top: 40px;
    border-top: 1px solid rgba(112, 112, 112, 0.47);
    border-top-color: #acacac;
    color: #707070;
}

.footer .address {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}